<!DOCTYPE html>
<html lang="en">

<head>
    <title>Store</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.min.css"]"/>
    <link rel="stylesheet" href="@Assets["Client.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="js/utils.js"></script>
<script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>
<script src="_framework/blazor.web.js"></script>

<div id="blazor-error-ui" class="bg-background text-primary">
    <a href="" class="reload">reload</a>
    <a class="dismiss">&times;</a>
</div>


</body>

</html>