<div class="max-w-sm rounded overflow-hidden">
    <div class="px-6 py-4">
        <div class="font-bold text-xl text-muted-foreground text-center mb-2">@Text</div>
        <p class="text-muted-foreground text-base @(Description == null ? "hidden" : "")">
            @Description
        </p>
    </div>
    <img class="object-cover max-h-60" src="@Image" alt="Image">
</div>

@code {
    protected override Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Text) || string.IsNullOrWhiteSpace(Image))
        {
            throw new NullReferenceException("Text or Image cannot be null or empty.");
        }

        return Task.CompletedTask;
    }

    [Parameter]
    [EditorRequired]
    public string Text { get; set; }

    [Parameter]
    [EditorRequired]
    public string Image { get; set; }

    [Parameter]
    public string? Description { get; set; }
}