@using Domain.ValueObjects
@inject HttpClient Client

<div
    class="container flex justify-between bg-background text-primary-foreground border border-border rounded-md">
    @foreach (var category in _categories)
    {
        <Card Text="@category.Key" Image=@category.Value></Card>
    }


</div>

@code {
    private readonly Dictionary<string, string> _categories = new();

    protected override async Task OnInitializedAsync()
    {
        foreach (var category in Enum.GetNames(typeof(ProductCategory)))
        {
            var imageBytes = await GetImageByName(category);
            var base64Image = Convert.ToBase64String(imageBytes);
            _categories[category] = $"data:image/jpeg;base64,{base64Image}";
        }
    }

    private async Task<byte[]> GetImageByName(string name)
    {
        var imageUrl = $"Images/Categories/{name}.jpg";
        try
        {
            var image = await Client.GetByteArrayAsync(imageUrl);
            return image;
        }
        catch (HttpRequestException)
        {
            return [];
        }
    }
}
