<div class="flex-grow flex items-center justify-center h-screen px-5">
    <form class="flex w-1/5 flex-col p-8 bg-background text-foreground border border-border rounded-lg shadow">
        <div class="mb-5">
            <label for="Name" class="block mb-2 text-sm font-medium text-muted-foreground">Name</label>
            <input type="text" id="Name"
                   class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background"
                   placeholder="Name" required/>
        </div>
        <div class="mb-5">
            <label for="Surname" class="block mb-2 text-sm font-medium text-muted-foreground">Surname</label>
            <input type="text" id="Surname"
                   class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background"
                   placeholder="Surname" required/>
        </div>
        <div class="mb-5">
            <label for="Email" class="block mb-2 text-sm font-medium text-muted-foreground">Email</label>
            <input type="email" id="Email"
                   class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background"
                   placeholder="Email" required/>
        </div>
        <div class="mb-5">
            <label for="Password" class="block mb-2 text-sm font-medium text-muted-foreground">Password</label>
            <input type="password" id="Password"
                   class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background"
                   placeholder="Password" required/>
        </div>
        <div class="mb-5">
            <label for="ConfirmPassword" class="block mb-2 text-sm font-medium text-muted-foreground">Confirm Password</label>
            <input type="password" id="ConfirmPassword"
                   class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background"
                   placeholder="Confirm Password" required/>
        </div>
        <button type="submit"
                class="text-primary bg-secondary focus:ring-1 hover:cursor-pointer focus:outline-none focus:ring-primary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            Submit
        </button>
    </form>
</div>