@inject NavigationManager Nav
<div
    class="fixed top-0 left-0 right-0 z-50 container flex p-3 justify-between items-center mt-4 mx-auto max-w-[1200px] rounded-lg bg-background text-foreground border border-border">

    <button @onclick="@(() => Nav.NavigateTo("/"))" id="left"
            class="rounded-md text-xl p-4 border border-border transition-colors duration-200 hover:text-primary text-muted-foreground hover:bg-primary-foreground cursor-pointer">
        <Blazicon Svg='GoogleMaterialRoundIcon.Home'/>
    </button>

    <div
        class="flex items-center border border-border rounded-md w-full ml-10 mr-10 p-3 transition-colors duration-200 text-muted-foreground hover:text-primary hover:bg-primary-foreground">
        <Blazicon Svg='GoogleMaterialRoundIcon.Search'/>
        <input type="text" class="pl-2 w-full focus:outline-0" placeholder="Search"/>
    </div>

    <div id="right" class="flex space-x-4 mr-3">

        <button @onclick="@(() => Nav.NavigateTo("/Login"))"
                class="border text-xl border-border rounded-md p-4 transition-colors duration-200 text-muted-foreground  hover:text-primary hover:bg-primary-foreground cursor-pointer">
            <Blazicon Svg='GoogleMaterialRoundIcon.Person'/>
        </button>
        <button
            class="border text-xl border-border rounded-md p-4 transition-colors duration-200 text-muted-foreground  hover:text-primary hover:bg-primary-foreground cursor-pointer">
            <Blazicon Svg='GoogleMaterialRoundIcon.ShoppingCart'/>
        </button>

    </div>
    <button
        class="border border-border rounded-md p-3 transition-colors duration-200 text-muted-foreground hover:text-primary hover:bg-primary-foreground cursor-pointer"
        onclick="window.toggleTheme()">
        <Blazicon Svg=GoogleMaterialRoundIcon.DarkMode class="rotate-0 dark:rotate-90 opacity-100 dark:opacity-0"/>
        <Blazicon Svg="GoogleMaterialRoundIcon.LightMode" class="dark:rotate-0 rotate-90 dark:opacity-100 opacity-0"/>
    </button>
</div>

