<div id="container" class="flex justify-between items-center mt-4 mx-auto max-w-[1200px] bg-black rounded-lg border-3 border-white">

    <button id="left" class="bg-black rounded-md m-3 border border-gray-700 hover:bg-gray-800">
        <Blazicon class="m-3" Svg='GoogleMaterialRoundIcon.Dehaze.WithColor("white")'/>
    </button>


    <div id="right" class="flex space-x-4 mr-3">
        <Blazicon class="border border-gray-700 rounded-md" Svg='GoogleMaterialRoundIcon.Search.WithColor("white")'/>
        <Blazicon class="border border-gray-700 rounded-md" Svg='GoogleMaterialRoundIcon.Notifications.WithColor("white")'/>
        <Blazicon class="border border-gray-700 rounded-md" Svg='GoogleMaterialRoundIcon.Person.WithColor("white")'/>
    </div>
</div>


@code {
}