<div class="container flex justify-between items-center mt-4 border border-gray-700 mx-auto max-w-[1200px] bg-black rounded-lg">

    <button id="left" class="rounded-md m-2 border border-gray-700 hover:bg-gray-800 ">
        <Blazicon class="m-3" Svg='GoogleMaterialRoundIcon.Dehaze.WithColor("white")'/>
    </button>

    <div id="right" class="flex space-x-4 mr-3">
        <button class="border border-gray-700 rounded-md p-3 hover:bg-gray-800">
            <Blazicon Svg='GoogleMaterialRoundIcon.Search.WithColor("white")'/>
        </button>
        <button class="border border-gray-700 rounded-md p-3 hover:bg-gray-800">
            <Blazicon Svg='GoogleMaterialRoundIcon.Notifications.WithColor("white")'/>
        </button>
        <button class="border border-gray-700 rounded-md p-3 hover:bg-gray-800">
            <Blazicon Svg='GoogleMaterialRoundIcon.Person.WithColor("white")'/>
        </button>
        <button class="border border-gray-700 rounded-md p-3 hover:bg-gray-800">
            <Blazicon Svg='GoogleMaterialRoundIcon.DarkMode.WithColor("white")'/>
        </button>
    </div>
</div>


@code {
}