@page "/AboutUs"

<div class="mt-[150px] w-full flex flex-col justify-stretch items-center gap-40">
    <div class="container">
        <h1 class="text-4xl font-bold">About Us</h1>
        <div class="border border-border rounded-lg p-10 mt-13">
            Welcome, we are your one-stop destination for quality products and unbeatable service. Founded with a passion for simplicity
            and value, our store is built to make shopping easy, affordable, and enjoyable.

            Whether you're looking for the latest tech gadgets, home essentials, fashion, or unique gifts, we carefully curate every item in
            our
            collection to ensure quality and satisfaction. We believe that shopping should be more than just a transaction — it should be a
            smooth, trusted experience from start to finish.

            Our team is dedicated to bringing you excellent customer service, fast shipping, and secure checkout. At ShopEase, we’re not
            just
            selling products — we’re building a community of happy, loyal customers.

            Thank you for choosing us. We’re excited to serve you!
        </div>
    </div>

</div>

@code {
}