@page "/"

<PageTitle>Home</PageTitle>

<div class="mt-[150px] w-full flex flex-col justify-stretch items-center gap-75">
    <Slogan/>
    <WhoWeAre/>
    @* <Categories/> *@

    @* <RecommendedProducts/> *@
</div>
