@page "/"

<PageTitle>Home</PageTitle>

<div class="mt-[150px] w-full flex flex-col justify-stretch items-center gap-40">
    <Slogan/>
    <div class="animate-bounce mt-20">
        <Blazicon Svg='GoogleMaterialRoundIcon.ArrowDownward.WithSize("200%")' class="text-primary"/>
    </div>
    <WhoWeAre/>
    @* <Categories/> *@

    @* <RecommendedProducts/> *@
</div>
