@page "/Register"
@using Application.Users.Commands
@inject IToastService Toast
@inject NavigationManager Nav
@inject IMediator Mediator



<div class="w-full h-auto flex flex-col justify-center items-center pt-10">
    <div class="border rounded-md border-border shadow-md p-12 flex flex-col justify-center gap-2 items-center">
        <h1 class="text-bold text-4xl">Create your account</h1>

        <form class="flex flex-col space-y-2 w-96 mt-4" @onsubmit="OnValidSubmit">
            <div id="sso-buttons" class="flex w-full items-center justify-evenly gap-10">
                <a class="w-full flex justify-center items-center h-9 px-3 py-2 rounded-md border border-border hover:bg-gray-100 transition-colors duration-200">
                    <img alt="google" class="h-6 w-6  mx-auto"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/24px-Google_%22G%22_logo.svg.png">
                </a>
                <a class="w-full flex justify-center items-center h-9 px-3 py-2 rounded-md border border-border hover:bg-gray-100 transition-colors duration-200">
                    <img alt="microsoft" class="h-6 w-6  mx-auto"
                         src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg"/>
                </a>
            </div>
            <h3 class="m-auto text-muted-foreground">Or continue with email</h3>
            <label for="email">Full name</label>
            <input type="text" class="pl-3 h-9 rounded-md shadow-md border border-border" id="email" name="email" placeholder="your name"/>
            <label for="Password">Email</label>
            <input type="text" class="pl-3 h-9 rounded-md shadow-md border border-border" id="Password" name="email"
                   placeholder="name@example.com"/>
            <label for="Password">Password</label>
            <input type="text" class="pl-3 h-9 rounded-md shadow-md border border-border" id="Password" name="email" placeholder="..."/>
            <button type="submit"
                    class="mt-3 flex justify-center h-9 items-center gap-1 text-primary rounded-md shadow-md border border-border hover:bg-primary-foreground transition-colors duration-200">
                <Blazicon Svg="GoogleMaterialFilledIcon.Login"></Blazicon>
                Sign Up
            </button>
        </form>
    </div>

</div>

@code{
    private RegisterCustomerCommand Command { get; set; } = new();

    private async Task OnValidSubmit()
    {
        var validator = new RegisterCustomerCommandValidator();
        var validationResult = await validator.ValidateAsync(Command);
        if (!validationResult.IsValid)
        {
            foreach (var error in validationResult.Errors)
            {
                Toast.ShowError(error.ErrorMessage);
            }

            return;
        }


        await Mediator.Send(Command);

        Toast.ShowSuccess("User registered successfully");
        Nav.NavigateTo("/Login");
    }
}
