<footer class="border-t mt-8 w-full flex flex-col sm:flex-row sm:justify-evenly sm:items-start gap-6 p-4">
    <form class="flex flex-col gap-2 m-2 sm:max-w-xs">
        <h1 class="text-xl font-bold">Newsletter</h1>
        <label for="Password" class="max-w-full text-muted-foreground text-sm">
            Enter your email to receive notifications about product updates and our newsletter.
        </label>
        <input type="text" class="pl-3 h-9 rounded-md shadow-md border border-border w-full" id="Password" name="email"
               placeholder="name@example.com"/>
        <button type="submit"
                class="w-full mt-3 flex justify-center h-9 items-center gap-1 text-primary rounded-md shadow-md border border-border bg-[#108a37] hover:bg-[#1aa65f] transition-colors duration-200">
            Subscribe
        </button>
    </form>

    <div class="flex flex-col items-center gap-2 m-2 sm:max-w-xs text-center sm:text-left">
        <h1 class="text-xl font-bold">Our partners</h1>
        <ul class="flex flex-col gap-2 text-muted-foreground underline underline-offset-5">
            <li><a href="https://amazon.com" target="_blank" rel="noopener noreferrer">Amazon.com</a></li>
            <li><a href="https://alibaba.com" target="_blank" rel="noopener noreferrer">Alibaba.com</a></li>
            <li><a href="https://aliexpress.com" target="_blank" rel="noopener noreferrer">Aliexpress.com</a></li>
            <li><a href="https://veli.store" target="_blank" rel="noopener noreferrer">Veli.store</a></li>
        </ul>
    </div>

    <div class="flex flex-col gap-2 m-2 sm:max-w-xs text-center sm:text-left">
        <h1 class="text-xl font-bold">Contact</h1>
        <ul class="flex flex-col gap-2 text-muted-foreground underline underline-offset-4">
            <li><a href="mailto:david@gogodze.dev">developer: david@gogodze.dev</a></li>
            <li><a href="mailto:store@gogodze.dev">company mail: store@gogodze.dev</a></li>
            <li><span>Street: 13, Ilo Mosashvili Street Vake, Tbilisi 0162</span></li>
        </ul>
    </div>
</footer>
