<div class="flex items-center justify-center mt-auto gap-4 p-4 w-1/2">
    <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)">
    <div id="slogan" class="flex flex-col items-baseline justify-center gap-y-4">
        <h1 class="text-5xl font-bold">
            <span class="text-[#21bf73]">#1</span>
            <span>Shop In Georgia</span>
        </h1>
        <span class="text-l">Your Favorite Products, Just a Click Away!
            A seamless shopping experience for all your needs, right here in Georgia.</span>
        <a class="border p-3 p-x-4 font-bold border-border rounded-md transition-colors duration-200 text-white bg-[#108a37] hover:bg-[#1aa65f] cursor-pointer">Get
            Started</a>
    </div>
    </Animate>

    <Animate Animation="Animations.ZoomInLeft" Duration="TimeSpan.FromSeconds(1)">
        <div id="cart">
            <img src="Images/Categories/Cart.png" alt="cart" style="max-width: 45vw; max-height: 45vh; width: auto; height: auto;"/>
        </div>
    </Animate>

</div>





@code {
}