<div class="flex flex-col items-center justify-center gap-4">
    <span class="text-4xl font-bold">Ready to start browsing?</span>
    <div class="flex flex-wrap gap-4 justify-evenly">
        <a href="/Catalogue"
           class="inline-block px-6 py-3 font-bold border border-border rounded-md transition-colors duration-200 text-white bg-[#108a37] hover:bg-[#1aa65f] cursor-pointer">
            Browse the Catalogue
        </a>
    </div>
</div>
