<div class="flex flex-col gap-4">
    <span class="text-4xl font-bold">Why Us?</span>

    <div class="flex flex-wrap gap-4 justify-evenly">
        <div class="shadow-xl flex-1 min-w-[250px] max-w-sm flex flex-col items-start justify-start border border-border rounded-md p-4">

            <h1 class="flex items-center gap-2 text-lg font-bold mt-2">
                <Blazicon Svg="@GoogleMaterialFilledIcon.CreditCard.WithColor("#21bf73").WithSize("200%")"/>
                Cheap prices!
            </h1>
            <span class="mt-3">
                We provide unmatched services tailored to meet your unique needs, ensuring timely and secure deliveries every time.
            </span>
        </div>

        <div class="shadow-xl flex-1 min-w-[250px] max-w-sm flex flex-col items-start justify-start border border-border rounded-md p-4">

            <h1 class="flex items-center gap-2 text-lg font-bold mt-2">
                <Blazicon Svg="@GoogleMaterialFilledIcon.Search.WithColor("#21bf73").WithSize("200%")"/>
                Huge variety of products!
            </h1>
            <span class="mt-3">Find everything you need in one place, carefully selected and delivered fast.</span>
        </div>

        <div class="shadow-xl flex-1 min-w-[250px] max-w-sm  flex flex-col items-start justify-start border border-border rounded-md p-4">

            <h1 class="flex items-center gap-2 text-lg font-bold mt-2">
                <Blazicon Svg="@GoogleMaterialFilledIcon.Shield.WithColor("#21bf73").WithSize("200%")"/>
                Vast Experience
            </h1>
            <span class="mt-3">
                With years of experience in the industry, we are dedicated to delivering exceptional service.
            </span>
        </div>
    </div>
</div>


@code {
}