@page "/LogIn"
<h3>LogIn</h3>
<form class="flex">
    <label for="name"></label>
    <input id="name" type="text"/>
    <label for="surname"></label>
    <input id="surname" type="text"/>
    <label for="email"></label>
    <input id="email" type="text"/>
    <label for="password"></label>
    <input id="password" type="password"/>
</form>

@code {

}